* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Gabarito', sans-serif;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
    position: fixed;
    padding: 16px 40px 0px 40px;
    letter-spacing: 0.25;
    font-size: 16px;
    background-color: white;
    top: -20px;
    right: 0;
    left: 0;
    z-index: 1001;
    margin-top: 20px;
}

@keyframes slideUpDisappear {
  0% {
    height: 20px;
    padding: 0;
    opacity: 1;
    box-shadow: none;
  }
  100% {
    height: 0px;
    padding: 0;
    opacity: 0;
    margin: 0;
  }
}

@keyframes slideDownAppear {
  0% {
    height: 0px;
    padding: 0;
    opacity: 0;
    margin: 0;
  }
  100% {
    height: 20px;
    padding: 0;
    opacity: 1;
    box-shadow: none;
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 20px 7px rgba(0,0,0,.1);
  }
}

@keyframes noBoxShadow {
  0% {
    box-shadow: 0 0 20px 7px rgba(0,0,0,.1);
  }
  100% {
    box-shadow: none;
  }
}

.slide-up {
  animation: slideUpDisappear 0.5s ease-in-out forwards;
}

.slide-down {
  animation: slideDownAppear 0.5s ease-in-out forwards;
}

.box-shadow {
  animation: boxShadow 1s ease-in-out forwards;
}

.no-box-shadow {
  animation: noBoxShadow 0.5s ease-in-out forwards;
}

.top-header {
    display: flex;
    border-bottom: 1px solid rgba(1, 61, 11, 0.11);
    padding-bottom: 7px;
    margin-bottom: -1px;
    color: rgba(1, 61, 11, 0.651);
    position: relative;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 11px 66px;
}

.menu li:hover {
    color: #22ad01;
}

.menu li {
    transition: 0.5s;
    cursor: pointer;
}

.logo {
    margin: 12px 0px;
}

.menu-button {
    display: flex;
    justify-content: end;
    flex: 1;
    align-items: flex-end;
    height: 100%;
    align-content: flex-start;
}

.hamburger {
  display: none; 
}

.menu-button button, 
.card  button,
.call-to-action-section button {
    padding: 10px 20px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    font-size: 16px;
}

.menu-button .light-button {
    background-color: white;
    color: rgba(1, 61, 11, 0.945);

}

.menu-button .light-button:hover {
    background-color: rgb(241, 241, 241);
}

.menu-button .dark-button,
.card  button,
.call-to-action-section button {
  background-color: #22ad01;
  color: white;
}

.menu-button .dark-button:hover,
.card  button:hover,
.call-to-action-section button:hover {
  background-color: #29cf00;
}

.bottom-header {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 11px 0px;
  color: rgba(1, 61, 11, 0.438);
}

.bottom-header li:hover {
  color: rgba(1, 61, 11, 0.651);
  cursor: pointer;
}


/*hero section*/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003c2f;
    margin-top: 200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 330px;
    height: 65px;
    border-radius: 50px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    z-index: 2;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 53px;
    width: 110px;
    left: 7px;
    bottom: 6.5px;
    background-color: #003c2f;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  input + .slider {
    background-color: #f0f5f0;
    border-radius: 50px;
  }
  
  input:checked + .slider {
    background-color: #f0f5f0;
    border-radius: 50px;
  }
  
  input:checked + .slider:before {
    transform: translateX(110px);
    width: 207px;
  }
  
  .slider {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .monthly {
    padding: 0px 35px;
    margin-bottom: 3px;
    border-radius: 50px;
    color: white;
    z-index: 1;
    overflow: hidden;
    z-index: 99;
    display: flex;
    justify-content: center;
  }
  
  .yearly {
    /* background-color: #003c2f; */
    position: relative;
    color: #003c2f;
    z-index: 99;
    overflow: hidden;
  
    padding: 15px 20px;
    margin-bottom: 3px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .yearly p + p {
    background-color: white;
    color: #22ad01;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: bold ;
  }
  
  .green {
    color: #003c2f;
    transition: 0.4s;
  }
  
.white {
    color: white;
    transition: 0.4s;
}
  
.plans {
    display: none;
    gap: 15px;
    /* margin: 90px 40px; */
    margin: 60px 40px;
    max-width: 1060px;
}
  
.plans li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.card-layer {
    padding: 33px 0px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-layer.color {
    padding: 5px 6px 5px;
    background-color: #ee8146;

}

.card-layer.color .card {
    box-shadow: none;
}

.card-layer > p {
    color: white;
    padding-bottom: 12px;
    font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:0 0 20px 0 rgba(0,0,0,.1);
  border-radius: 20px;
  padding: 57px 40px 40px 40px;
  background-color: white;
}

.top-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 60, 47, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;

}

.top-card h1 {
    margin: 9px 0;
}

.top-card div > span {
    font-weight: bolder;
    font-size: 20px; 
}

.top-card div > span + span {
    font-size: 32px;
    margin: 0 0px 0 5px;
}

.top-card div > span + span + span {
    font-size: 16px;
    opacity: 0.3;
}

.card p {
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}

.card button,
.call-to-action-section button {
    padding: 15px 50px 20px;
    margin: 20px 0;
}

.card svg {
    height: 15px;
    fill:#22ad01;
}


/* Add-on-section */

.add-on-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
  padding-bottom: 30px;
}

.add-on-section h1,
.testimony-section h1 {
  color: #003c2f;
  margin: 0;
  font-size: 40px;
  font-weight: bolder;
}

.add-on-section h1 + h1,
.testimony-section h1 + h1{
  margin: 0px 0px 30px 0px;
}

.add-on-card-layer {
  max-width: 1144px;
  display: flex;
  gap: 35px;
  margin-top: 35px;
  padding: 0px 40px;
}

.add-on-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 40px 40px;
  border: 1px solid rgba(0, 60, 47, 0.2);
  border-radius: 20px;
  min-height: 356px;
}

.add-on-card h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.add-on-card p {
  color: #003c2f;
  opacity: 0.7;
}

.add-on-card .link,
.call-to-action-section .link {
  display: inline-block;
  position: relative;
  color:  #22ad01;
  cursor: pointer;
  margin-top: 20px;
}

.add-on-card .link::after,
.call-to-action-section .link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #22ad01;
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}

.add-on-card .link:hover:after,
.call-to-action-section .link:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.card-footer {
  margin-top: 50px;
  display: flex;
  justify-content: end;
  font-weight: bold;
  align-items: end;
}

.card-footer span{
  font-size: 32px;
  color: #003c2f;
}

.card-footer p {
  padding-bottom: 2px;
}


/* FAQ */

.faq-section {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  /* padding-right: 40px; */
  padding-left: 145px;
  padding-right: 145px;
  overflow: hidden;
  padding-bottom: 100px;
}

.faq-section img {
  position: absolute;
  /* max-width: 100%; */
  top: 0;
  right: -395px;
}

.faq-section h1 {
  font-size: 42px;
  color: #003c2f;
  padding-top: 10px;
}

.accordion {
  margin-top: 50px;
  color: #003c2f;
  max-width: 640px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}

.accordion-header {
  padding: 15px 0 10px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.arrow {
  height: 30px;
  fill: #22ad01;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    height: auto;
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

.accordion-content {
  padding: 0;
  overflow: hidden;
  max-height: 0;
  opacity: 0.7;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.active .accordion-content {
  display: block;
  animation-name: slideDown;
}

:not(.active) .accordion-content {
  animation-name: slideUp;
}

.testimony-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sponsors{
 margin: 10px 0px 80px 60px;
 display: flex;
 gap: 65px;
 align-items: center;
}

.sponsors svg {
  height: 50px;
  /* padding: 0 70px; */
}

.sponsors svg + svg {
  border-left: 1px solid #ccc;
  padding-left: 60px;
  width: 330px;
}

.testimonies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1500px;
  gap: 20px 15px;
  /* overflow: hidden; */
}

.testimonies p {
  background-color: #ecf1ec;
  color: #003c2f;
  padding: 22px 15px 18px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

.testimonies span {
  opacity: 0.5;
}

.call-to-action-section{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 120px 0;
  color: #003c2f;
}

.call-to-action-layer {
  max-width: 1200px;
}

.call-to-action-section .top {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.call-to-action-img {
 width: 100%;
}

.call-to-action-section .top .left {
 padding-left: 93px;
 padding-right: 85px;
 position: relative;
}

.call-to-action-section .top .left .leaf {
  position: absolute;
  width: 250px;
  left: 308px;
  top: -8px;
  transform: rotate(-3deg);
}

.call-to-action-section .top .right {
  width: 100%;
  max-width: 390px;
  margin-left: -4px;
}

.call-to-action-section .top .right .box-1 {
  padding-top: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.call-to-action-section .top .right .box-2 {
  margin-top: 50px;
} 

.call-to-action-section h1{
  margin: 0;
  font-size: 30px;
  line-height: 80%;
  letter-spacing: 1px;
}

.call-to-action-section h1 + h1 {
  margin-bottom: 30px;
}

.call-to-action-section p {
  opacity: 0.5;
  margin-bottom: 15px;
}

.call-to-action-section .link{
  font-size: 13px;
  font-weight: bold;
}

.cta-banner {
 background-image: url(/images/cta.png);
 background-color: #003c2f;
 background-size: cover;
 background-position: 50% 50%;
 padding: 70px 120px;
 margin: 100px 40px 0px;
 border-radius: 60px;
 display: flex;
 justify-content: space-between;
 max-width: 1144px;
}

.cta-banner .header {
  color: white;
  font-size: 36px;
}


/*footer section*/

.footer-section {
  padding: 0 40px 0px;
}

.footer-section .top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #003c2f;
  padding: 0 0px 40px;
  border-bottom: 1px solid #ccc;
}

.footer-section .logo svg {
  height: 28px;
  width: 130px;
  margin-bottom: 28px;
}

.footer-section .header {
  margin: 20px 0;
}

.footer-section li {
 list-style-type: none;
 font-size: 14px;
 margin-top: 10px;
 opacity: 0.7;
}

.footer-section .col-1 ul li:last-child{
  margin-top: 35px;
}

.footer-section .col-2 ul li:nth-child(12){
  margin-top: 35px;
}

.footer-section .col-2 ul li:last-child{
  opacity: 1;
}

.footer-section .bottom p {
  color: #003c2f;
  opacity: 0.5;
}

.footer-section .bottom .bottom-para {
  font-size: 12px;
  padding: 10px 0px 90px;
}

.footer-section .bottom-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.footer-section .bottom-top .copyright {
  display: flex;
  gap: 40px;
}

.sm-logo {
  display: flex;
  gap: 15px;
}

.show-flex {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .faq-section {
    overflow: hidden;
    max-width: 1144px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .faq-section img {
    position: absolute;
    right: -500px;
    z-index: 1;
  }
}

@media only screen and (max-width: 991px) {
  @keyframes slideDownMenu {
    0% {
      max-height: 0;
      padding: 0;
      opacity: 0;
    }
    100% {
      max-height: 500px; 
      padding: 20px 40px;
      opacity: 1;
    }
  }

  @keyframes slideUpMenu {
    0% {
      max-height: 500px;
      padding: 20px 40px;
      opacity: 1;
    }
    100% {
      max-height: 0;
      padding: 0;
      opacity: 0;
    }
  }
  
  .menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: white;
    left: -40px;
    top: 60px;
    right: -40px;
    margin: 4px 0 0 0;
  }
  
  .menu li {
    border-bottom: 1px solid #ccc;
    padding: 31px 0;
    font-weight: bold;
  }

  .menu li:nth-child(2) {
    display: none;
  }

  .menu-button{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: -40px;
    top: 390px;
    right: -40px;
    flex-direction: column;
    height: 100vh;
    /* margin: 0 40px; */
  }

  .menu-button button {
    width: 100%;
    margin: 10px 0;
    padding: 12px 50px 14px;
    border: none;
  }

  .menu-button button:nth-child(1) {
    border: 2px solid #003c2f;
  }

  .menu-together {
    display: none;
    z-index: 1000;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding-bottom: 20px;
    color: #003c2f;
  }

  .bottom-header {
    display: none;
  }

  .hamurger-layer{
    background-color: #003c2f;
    border-radius: 70px;
    padding: 6px;
    display: flex;
    cursor: pointer;
  }

  .hamburger{
    display: block;
    width: 30px;
    fill: white;
  }


  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003c2f;
    margin-top: 120px;
  }

  .card {
    max-width: 100%;
    padding: 30px 20px 20px 20px;
    background-color: white;
}

  .card-layer:nth-child(3) {
    padding: 5px 0px 5px;
  }

  .card-layer {
    width: 560px;
    align-items: stretch;
    text-align: center;
  }

  .plans {
    margin: 0px 40px;
  }

  .top-card {
    width: 97%;
  }

  .add-on-card-layer {
    overflow-x: scroll;
    max-width: 100%;
  }

  .add-on-card {
    min-height: 291px;
    min-width: 250px;
    padding: 45px 30px 30px 30px;
  }

  .add-on-card h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .card-footer span {
    font-size: 26px;
  }

  .testimonies {
    width: 100%;
    overflow-x: scroll;
    padding-left: 10px;
  }
  
  .testimonies div {
    justify-content: start;
    min-width: 1390px;
  }

  .call-to-action-section {
    display: block;
    margin: 60px 0 120px 0;
  }

  .call-to-action-section .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .call-to-action-section .top .left .leaf {
    left: 350px;
    top: -60px;
  }

  .call-to-action-img {
    width: 410px;
    margin-bottom: 20px;
  }

  .cta-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .footer-section .top {
    display: flex;
    flex-direction: column;
  }

  .show-block {
    display: block;
    animation: slideDownMenu 0.5s ease-in-out forwards;
  }

  .show-block-2 {
    display: block;
    animation: slideDownMenu 1s ease-in-out forwards;
  }

  .show-flex {
    display: flex;
    flex-direction: column;
  }

  .cta-banner .header {
    margin-bottom: 10px;
  }

  .footer-section .bottom-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
  }
}

@media screen and (max-width: 767px){

  .top-card h1 {
    margin: 9px 0;
    font-size: 25px;
  }  

  .add-on-section > h1, .testimony-section h1, .faq-section h1 {
    font-size: 30px;
  }

  .sponsors{
    margin: 10px 0px 80px 65px;
    gap: 20px;
    height: 50px;
   }
   
   .sponsors svg + svg {
     border-left: 1px solid #ccc;
     padding-left: 0px;
     width: 290px;
   }
  
  .call-to-action-section {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 60px 0 120px 0;
    color: #003c2f;
    }

    .call-to-action-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .call-to-action-section .top .left .leaf {
    width: 30%;
    left: 428px;
    top: -20px;
  }


  .call-to-action-section .top .right {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 20px;
  }

  .call-to-action-section h1 {
    margin: 0;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 1px;
  }

  .cta-banner {
    padding: 70px 100px;
    margin: 100px 20px 0px;
  }

  .call-to-action-section button {
    padding: 15px 50px;
    margin: 20px 0;
  }

  .add-on-card-layer {
    padding: 0px 20px;
  }

  .footer-section {
    padding: 0 20px 0px;
  }
}

@media screen and (max-width: 600px){
  header {
    padding: 16px 20px 0px 20px;
  }

  .card-layer {
    max-width: 380px;
  }

  .hero-section h1 {
    padding: 0px 20px;
    margin: 20px 0px;
    text-align: center;
  }
  
  .faq-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
  }

  .faq-section img {
    display: none;
  }

  .sponsors svg {
      height: 30px;
      width: 150px;
    }

    .sponsors svg + svg {
      border-left: 1px solid #ccc;
      padding-left: 0px;
      width: 180px;
    }

  .sponsors {
    margin: 10px 0px 60px 0px;
    gap: 10px;
  }

  .call-to-action-section .top .left .leaf {
    left: 335px;
    top: -25px;
  }

  .call-to-action-section .top .left {
    padding-left: 73px;
    padding-right: 65px;
    position: relative;
  }

  .cta-banner {
    padding: 45px 40px;
    margin: 40px 20px 0px;
  }
}

@media screen and (max-width: 420px){
  .card-layer {
    max-width: 340px;
  }

  .call-to-action-section .top .left .leaf {
    left: 245px;
    top: -20px;
  }

  .call-to-action-section .top .left {
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
  }

}

